@import "./prototype.css";

:root {
  --drop-target-background: #e0f7fa;
  --accent-color: #007bff;
  --hint-color: #666;
  --card-border: var(--btn-border);
  --card-background: #ffffff;
  --canvas-background: #f3f3f3;
}

html,
body {
  height: 100%;
}

body {
  font-family: system-ui;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.idea-header {
  padding: 8px;
  border-bottom: 1px solid var(--divider-color);

  input {
    flex: 1;
  }
}

.idea-workbench {
  flex: 1;
  display: flex;
  min-height: 0;
}

.idea-grid {
  flex: 1;
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  align-content: start;
  overflow-y: auto;
  background: var(--canvas-background);
}

.details-pane {
  border-left: 1px solid var(--divider-color);
  display: flex;
  flex-direction: column;
  width: 30vw;
  max-width: 32rem;
  box-sizing: border-box;
}

.details-content {
  flex: 1;
  padding: 8px;
  overflow-y: auto;
}

.details-item {
  display: grid;
  gap: 8px;

  h2 {
    font-size: 1.25rem;
  }
}

.details-hint {
  font-style: italic;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--hint-color);
}

.tip-list {
  display: grid;
  gap: 4px;
}
