@import "./prototype.css";

:root {
  --drop-target-background: #e0f7fa;
}

html,
body {
  height: 100%;
}

body {
  font-family: system-ui;
  display: grid;
  grid-template-columns: 1fr auto;
}

.idea-workbench {
  display: grid;
  grid-template-rows: auto 1fr;
}

.idea-grid {
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  align-content: start;
}
