concept-card-element {
  display: block;
  border: 1px solid var(--btn-border);
  padding: 4px;
  border-radius: 4px;
  cursor: grab;

  &:hover {
    border-color: var(--btn-border-hover);
  }

  &[data-dnd="droppable"] {
    background-color: var(--drop-target-background);
  }

  &[data-selected="true"] {
    outline: 2px solid var(--accent-color);
    outline-offset: -1px;
    border-color: transparent;
  }
}
